.footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #f7f7f7;
  height: 10em;
}

.sources {
  display: flex;
  align-items: center;
}

.sources-img {
  height: 2.5em;
  margin-left: 1em;
  background-color: #f7f7f7;
}
