$main-margin: 5%;

.drawer {
  width: 100%;
  height: 100vh;
  padding: 0;
}

.main-box {
  margin: 3em $main-margin * 2;
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: space-around;
  max-width: 100em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
}

.cheack-box {
  margin: 5em 0 0 $main-margin * 2;
}

.place-box {
  display: flex;
  flex-direction: column;
  width: 16em;
  margin-bottom: 2em;
  padding: 1em;
  line-height: 1.1;
}

.place-img {
  width: 15em;
  height: 15em;
}

.place-name {
  margin-top: 0.5em;
  font-size: 1.5em;
}

.palce-location {
  margin-top: 0.4em;
  font-size: 1.1em;
}

.pagination {
  margin: 3em 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 18%;
}

.page-number {
  font-size: 1.5em;
}

.scroll-to-top-button {
  position: fixed;
  width: 3em;
  height: 3em;
  bottom: 20px;
  right: 20px;
  background-color: #a3caf5;
  color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
