@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-size: 10px;
  box-sizing: border-box;
}

a {
  color: black;
  text-decoration: none;
  outline: none;
}

a:active {
  text-decoration: none;
  color: black;
}

button {
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer;
}

.drawer {
  width: 100%;
  height: 100vh;
  overflow: auto;
}

.main-box {
  margin: 3em 10%;
  max-width: 100em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
}

.cheack-box {
  margin: 5em 0 0 10%;
}

.place-box {
  display: flex;
  flex-direction: column;
  width: 16em;
  margin-bottom: 2em;
  padding: 1em;
  line-height: 1.1;
}

.place-img {
  width: 15em;
  height: 15em;
}

.place-name {
  margin-top: 0.5em;
  font-size: 1.5em;
}

.palce-location {
  margin-top: 0.4em;
  font-size: 1.1em;
}

.head-dom {
  width: 100%;
  position: fixed;
  background-color: #fff;
  z-index: 10;
}

.top-head {
  margin: 4em 5% 0;
  display: flex;
  justify-content: space-between;
}

.main-logo {
  display: inline-block;
  font-size: 3em;
  font-weight: bolder;
}

.user-zone {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  justify-content: space-evenly;
}

.nav-bar {
  margin: 3em 5% 0;
}

.nav-list {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.6em;
  font-weight: 500;
}

.nav-link:hover {
  font-weight: 600;
}

.input-box {
  position: relative;
}

.search-box {
  margin-top: 12em;
  margin-left: 25%;
  padding: 5px;
  width: 50%;
}

.dropdown-content {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  z-index: 3;
  transform-origin: top;
  transform-origin: right;
  line-height: 1.2;
  font-size: 1.2em;
  width: 50%;
  height: 9em;
  margin-left: 25%;
  overflow: hidden;
}

.search-item {
  padding: 0.5em 0 0.5em 0.5em;
  display: flex;
}

.search-item::after {
  content: "|";
  position: relative;
  text-align: center;
  line-height: 1.3;
  padding-left: 0.5em;
  color: rgba(180, 180, 180, 0.3);
}

.search-button {
  position: relative;
  left: 0.5em;
  top: 0.3em;
}

.search-tab {
  margin-top: 18em;
}

.search-results {
  display: inline;
  margin-left: 10%;
  font-size: 2em;
}

.search-results > span {
  font-weight: 800;
}

.report-info {
  margin: 5em 5%;
}

.info-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: start;
}

.info-items {
  font-size: 1.5em;
  line-height: 1.5;
  padding-right: 1em;
}

.info-name {
  font-weight: 600;
  margin-right: 1em;
}

.info-name::after {
  content: "|";
  font-size: 1.3em;
  position: relative;
  padding-left: 0.2em;
  color: rgb(184, 145, 98);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #f7f7f7;
  height: 10em;
}

.sources {
  display: flex;
  align-items: center;
}

.sources-img {
  height: 2.5em;
  margin-left: 1em;
  background-color: #f7f7f7;
}

.place-detail-dom {
  margin: 18em 5% 0;
  position: relative;
}

.detail-head {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}

/* 스크롤바 숨김 */
::-webkit-scrollbar {
  width: 0.5rem; /* 스크롤바 너비 */
  background-color: transparent; /* 배경색 */
}

::-webkit-scrollbar-thumb {
  background-color: transparent; /* 스크롤바 색상 */
  border-radius: 0.25rem; /* 스크롤바 모서리 둥글기 */
}

.carousel-container {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: slide-infinite 20s infinite;
}

.place-detail-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.place-base-container {
  width: 40%;
}

.base-high {
  display: flex;
  align-items: center;
}

.place-title {
  font-size: 2.3em;
  font-weight: bold;
  padding-right: 0.5em;
}

.place-arr {
  font-size: 1.2em;
  margin-top: 0.5em;
}

.place-overview {
  font-size: 1.5em;
  line-height: 1.5;
  margin-top: 1em;
  height: 50%;
}

.joinMembership-tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50em;
  margin: 50vh 50%;
  transform: translateX(-50%) translateY(-50%);
}

.account__layout {
  width: 35em;
  max-width: 40em;
}

.account__header > a {
  font-size: 3em;
  font-weight: 600;
  margin-bottom: 4.8em;
}

.base-typography > h2 {
  font-size: 2em;
  color: #000;
  line-height: 3.3em;
}

.sign-up-form__block {
  position: relative;
  margin-bottom: 2em;
}

.base-typography--label > label {
  font-size: 1.3em;
  color: #6c6c6c;
}

.sign-up-form__label {
  margin-bottom: 0.6em;
}

.btn--wide {
  width: 100%;
  height: 5.6em;
  padding: 0 3.6em;
  font-size: 1.6em;
  line-height: 2.8;
}

.btn {
  position: relative;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 3em;
  padding: 0.8em 1.2em;
  border-width: 0.1em;
  border-style: solid;
  border-radius: 0.2em;
  font-weight: 400;
  font-size: 1.6em;
  text-align: center;
  transition: background-color 0.2s;
  border-color: #f5f5f5;
  background-color: #f5f5f5;
  color: #d3d3d3;
}

.icon-button {
  display: inline-flex;
  align-items: center;
  font-size: 1.3em;
}

.icon-button > svg {
  margin-right: 0.4em;
}

.icon-button--primary {
  color: #000;
  transition: all 0.1s ease-out;
}

.btn--primary {
  border-color: #000;
  background-color: #000;
  color: #fff;
}

.login-tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30em;
  margin: 50vh 50%;
  transform: translateX(-50%) translateY(-50%);
}

.main-logo {
  font-size: 3em;
}

.base-typography > h2 {
  font-size: 2em;
  color: #000;
  line-height: 3.3em;
}

.sign-in-google {
  margin-right: 0.8em;
}

.btn--google {
  background: #ffffff;
  font-size: 1.4rem;
  font-weight: 500;
  color: #121212;
  border-radius: 0.2;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.25);
}

.btn--wide {
  display: flex;
  align-items: center;
  width: 100%;
  height: 2.5em;
  padding: 0 3.6em;
  font-size: 1.6em;
  line-height: 2.5;
}

.google-logo {
  width: 2em;
  padding-right: 0.3em;
}

.sign-in__divider {
  height: 0.1em;
  margin: 4em 0 3em 0;
  border-top: 0.1em solid #e0e0e0;
  border-width: 1px 0 0;
  border-style: solid;
  color: #000;
  text-align: center;
  overflow: visible;
}

.sign-in__divider:after {
  content: "또는 이메일로 로그인";
  position: relative;
  top: -0.5em;
  padding: 0 1.6em;
  background: #fff;
}

.sign-in-form__block {
  position: relative;
  margin-bottom: 2em;
}

.sign-in-form__label {
  margin-bottom: 0.5em;
}

.input__container {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 3em;
  border: 0.1em solid #d3d3d3;
  border-radius: 0.2em;
  background: #fff;
}

.input__container > input {
  width: 100%;
  border: 0;
  box-sizing: border-box;
  background: transparent;
  font-size: 1.2em;
  padding: 0.5em;
  color: #000;
  display: block;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
  word-wrap: normal;
}

.input__container > input::placeholder {
  background-color: transparent;
  color: #d3d3d3;
}

.sign-in-form__help {
  display: flex;
  align-items: center;
  font-size: 1.2em;
  color: #333;
}

.sign-in-form__btn {
  position: relative;
  align-items: center;
  justify-content: center;
  height: 2.5em;
  margin: 2em 0;
  padding: 0.8em 1.2em;
  border-width: 0.1em;
  border-style: solid;
  border-radius: 0.2em;
  font-weight: 400;
  font-size: 1.6em;
  border-color: #f5f5f5;
  background-color: #f5f5f5;
  color: #d3d3d3;
  transition: background-color 0.2s;
}

.sign-in__sign-up-btn {
  text-align: center;
}

.text-button--primary {
  color: #858585;
  transition: all 0.1s ease-out;
}

.text-button--primary:hover {
  color: #000;
}

.btn--primary {
  border-color: #000;
  background-color: #000;
  color: #fff;
}